.header{
	padding:30px;
	background-color:#fff7f7;;
	
	
}
.header h3{
	display:inline-block;
	margin:15px 0 0 30px;
	
	
}
.personal{
	position:relative;
	left:75%;
	color:white;
	background:black;
	padding:10px;
	border-radius:6px;
	text-decoration:none;
	
	
}
.personal:hover{
	position:relative;
	left:5%;
	color:whitesmoke;
	background:grey;
	padding:10px;
	border-radius:6px;
    text-decoration:none;
}

.ruler{
	border-color:#ff935c;
	
}
.intro{
	padding:5% 5% 10% 10%;
	margin:0%;
	color:grey;
	font-family:comic sans ms
}

.flamingo{
	height:20%;
	width:40%;
	float:right;
	position:relative;
	right:20%;
	
	
}
	
}
.intro h1{
padding-top:88px;
}


.wiwi{
	font-weight:5px;
	font-size:35px;
	-webkit-animation:color-change 5s infinite;
	-moz-animation: color-change 5s infinite;
	-o-animation:color-change 5s infinite;
	-ms-animation:color-change 5s infinite;
	animation:color-change 5s infinite;
	
}
@-webkit-keyframes color-change{
	0%{color:black;}
	25%{color:grey;}
	50%{color:#ecfcf;}
	75%{color:whitesmoke;}
	100%{color:white}
	
}
@-ms-keyframes color-change{
	0%{color:black;}
	25%{color:grey;}
	50%{color:#ecfcf;}
	75%{color:whitesmoke;}
	100%{color:whitesmoke}
	
}
@-o-keyframes color-change{
	0%{color:black;}
	25%{color:grey;}
	50%{color:#ecfcf;}
	75%{color:whitesmoke;}
	100%{color:whitesmoke}
	
}
@keyframes color-change{
	0%{color:black;}
	25%{color:grey;}
	50%{color:#ecfcf;}
	75%{color:whitesmoke;}
	100%{color:whitesmoke}
	
}
.wiwo{
	font-weight:5px;
	font-size:35px;
	-webkit-animation:color-change 6s infinite;
	-moz-animation: color-change 6s infinite;
	-o-animation:color-change 6s infinite;
	-ms-animation:color-change 6s infinite;
	animation:color-change 6s infinite;
	
}
@-webkit-keyframes color-change{
	0%{color:whitesmoke;}
	25%{color:whitesmoke;}
	50%{color:grey;}
	75%{color:black;}
	100%{color:#ecfcff}
	
}
@-ms-keyframes color-change{
	0%{color:whitesmoke;}
	25%{color:whitesmoke;}
	50%{color:grey;}
	75%{color:black;}
	100%{color:#ecfcff}
	
}
@-o-keyframes color-change{
	0%{color:whitesmoke;}
	25%{color:whitesmoke;}
	50%{color:grey;}
	75%{color:black;}
	100%{color:#ecfcff}
	
}
@keyframes color-change{
	0%{color:whitesmoke;}
	25%{color:whitesmoke;}
	50%{color:grey;}
	75%{color:black;}
	100%{color:#ecfcff}
}

.middle{
	margin:8% 15% 2% 15%;
	padding:5% 5% 5% 5%;
	border-radius:5px;
	background-color:#ff935c;
	font-family:georgia;
	color:#fff7f7;
}

.social{

padding-right:5%;
height:20%;
width:20%;	
position:relative;
float:left;

	
	
}
.lims{

height:20%;
width:20%;	
position:relative;

float: right;	
		
}
.lims h2,p{

}
.dot{
	border: 1px 0 0 0;
	border-style:dotted;
	width:40px;
	border-width:5px 0 0 0;
	margin:10% auto 0 auto;
	text-align:center;
	color:grey;
}
.bottom{
	padding:6%;
	text-align: center;
	font-family:trebuchet ms;
	
}
.bottom h4{
	padding:2%;
	color:grey;
}
.btn{
	padding:10px;
	background:grey;
	color:whitesmoke;
	border:1px;
	text-decoration:none;
	border-radius:5px;
}
.btn:hover{
	padding:10px;
	background:black;
	color:white;
	border:1px;
	text-decoration:none;
	border-radius:5px;
	
	}
.footer{
	padding:5%;
	background:black;
	color:grey;
	
	font-family:trebuchet ms;
}
.footer ul{
	
	text-align:center;
}
.footer li{
	display:inline;
	padding:15px;
	text-align:center;
}
.footer a{ 
	
	color:grey;
	text-decoration:none;
}
.footer a:hover{
	color:whitesmoke;
}

.din{
	text-decoration:none;
}
body{
	background-color:#fff7f7;
}
.copy{
	text-align:center;
	font-size:12px;
}




